@charset "utf-8";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.login-container {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	min-width: 980px;
}

.login-top {
	width: 100%;
	height: 120px;
	background: url("../images/login/login.png") no-repeat 80px center
		transparent;
}

.login-title {
	font-family: "微软雅黑";
	font-size: 42px;
	height: 120px;
	line-height: 120px;
	margin-left: 195px;
	background-color: #ffffff;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.login-body {
	width: 100%;
	height: 400px;
	background: url("../images/login/login_bg.png") no-repeat center;
	text-algin: center
}

.login-foot {
	text-align: center;
	height: 60px;
}

.login-foot .coryright {
	font: 14px 宋体;
	color: #464646;
	height: 20px;
	line-height: 20px;
	position: relative;
	top: 20px;
}

.form-wrapp {
	display: inline height: 340px;
	width: 940px;
	margin: 0 auto;
	position: relative;
}

.form-container {
	float: right;
	padding-top: 35px;
	height: 306px;
	width: 388px;
}

.form-header {
	font-family: "微软雅黑";
	font-size: 20px;
	color: #010101;
	padding: 20px 35px;
}

.form-container form {
	padding: 38px 35px;
}

.form-group {
	display: inline-block;
	margin-top: 15px;
	vertical-align: middle;
}

label {
	width: 50px;
	font-family: "宋体";
	font-size: 14px;
	white-space: pre;
	display: inline-block;
}

.form-control {
	border: 1px solid #e2e2e2;
	height: 22px;
	line-height: 22px;
	display: inline-block;
	vertical-align: middle;
	width: 180px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	font-size: 14px;
	padding: 2px 8px;
}

.form-control:focus {
	border-color: #66afe9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(102, 175, 233, 0.6);
	outline: 0 none;
}

.btn {
	-moz-user-select: none;
	background-image: none;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.form-submit {
	background-image: url("../images/login/btn_login_normal.png");
	width: 86px;
	height: 31px;
	color: #FFFFFF;
}

.form-submit:hover {
	background-image: url("../images/login/btn_login_over.png");
}

.form-submit:active {
	background-image: url("../images/login/btn_login_normal.png");
}

.form-reset {
	background-image: url("../images/login/btn_repair_normal.png");
	width: 86px;
	height: 31px;
	margin-left: 15px;
	color: #FFFFFF;
}

.form-reset:hover {
	background-image: url("../images/login/btn_repair_over.png");
}

.form-reset:active {
	background-image: url("../images/login/btn_repair_normal.png");
}

.form-error-wrap {
	position: absolute;
	top: 125px;
	height: 20px;
	width: 388px;
	text-align: center;
}

.form-error {
	color: red;
	font-size: 12px;
	line-height: 20px;
}