<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.yuan.nova.pis.dao.PisBrokingFirmMapper" >
  <resultMap id="BaseResultMap" type="net.yuan.nova.pis.entity.PisBrokingFirm">
    <id column="broking_firm_id" property="brokingFirmId" jdbcType="VARCHAR" />
    <result column="broking_firm_name" property="brokingFirmName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
   broking_firm_id,broking_firm_name
  </sql>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from PIS_broking_firm 
  </select>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PIS_broking_firm where broking_firm_id = #{brokingFirmId,jdbcType=VARCHAR}
    
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PIS_broking_firm where broking_firm_name = #{brokingFirmName,jdbcType=VARCHAR}
    
  </select>
  <select id="selectByLikeName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select   
    <include refid="Base_Column_List" />
    from PIS_broking_firm where broking_firm_name like'%${param1}%'
    
  </select>
  <insert id="insert" parameterType="net.yuan.nova.pis.entity.PisBrokingFirm" >
    insert into PIS_broking_firm (broking_firm_id,broking_firm_name
      )
    values (#{brokingFirmId,jdbcType=VARCHAR}, #{brokingFirmName,jdbcType=VARCHAR}
      )
  </insert>
</mapper>