<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.yuan.nova.pis.dao.PisPropertyMapper" >
  <resultMap id="BaseResultMap" type="net.yuan.nova.pis.entity.PisProperty" >
    <id column="PROPERTY_ID" property="propertyId" jdbcType="VARCHAR" />
    <result column="PROPERTY_NAME" property="propertyName" jdbcType="VARCHAR" />
    <result column="PROPERTY_TYPE" property="propertyType" jdbcType="CHAR" />
    <result column="REAL_ESTATE_AGENCY" property="realEstateAgency" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="COUNTY" property="county" jdbcType="VARCHAR" />
    <result column="OPEN_DATE" property="openDate" jdbcType="TIMESTAMP" />
    <result column="CHARACTERISTIC" property="characteristic" jdbcType="VARCHAR" />
    <result column="DECORATION" property="decoration" jdbcType="VARCHAR" />
    <result column="AREA" property="area" jdbcType="VARCHAR" />
    <result column="YEARS" property="years" jdbcType="DECIMAL" />
    <result column="GREEN_RATE" property="greenRate" jdbcType="DECIMAL" />
    <result column="PROPERTY_COMPANY" property="propertyCompany" jdbcType="VARCHAR" />
    <result column="DELIVERY_TIME" property="deliveryTime" jdbcType="TIMESTAMP" />
    <result column="AVG_PRICE" property="avgPrice" jdbcType="DECIMAL" />
    <result column="COMMISSION" property="commission" jdbcType="VARCHAR" />
    <result column="RECOMMENDED_NUMBER" property="recommendedNumber" jdbcType="DECIMAL" />
    <result column="RESERVATION_NUMBER" property="reservationNumber" jdbcType="DECIMAL" />
    <result column="VIEW_TIMES" property="viewTimes" jdbcType="DECIMAL" />
    <result column="subscription_rules" property="subscriptionRules" jdbcType="VARCHAR" />
    <result column="property_Tel" property="propertyTel" jdbcType="VARCHAR" />
    <result column="traffic_Facilities" property="trafficFacilities" jdbcType="VARCHAR" />
    <result column="house_Type" property="houseType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PROPERTY_ID, PROPERTY_NAME, PROPERTY_TYPE, REAL_ESTATE_AGENCY, ADDRESS, COUNTRY, 
    PROVINCE, CITY, COUNTY, OPEN_DATE, CHARACTERISTIC, DECORATION, AREA, YEARS, GREEN_RATE, 
    PROPERTY_COMPANY, DELIVERY_TIME, AVG_PRICE, COMMISSION, RECOMMENDED_NUMBER, RESERVATION_NUMBER, 
    VIEW_TIMES,subscription_rules,property_Tel,traffic_Facilities,house_Type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PIS_PROPERTY
    where PROPERTY_ID = #{propertyId,jdbcType=VARCHAR}
  </select>
  <select id="selectPisProperties" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PIS_PROPERTY order by CREATE_TIME desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PIS_PROPERTY
    where PROPERTY_ID = #{propertyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.yuan.nova.pis.entity.PisProperty" >
    insert into PIS_PROPERTY (PROPERTY_ID, PROPERTY_NAME, PROPERTY_TYPE, 
      REAL_ESTATE_AGENCY, ADDRESS, COUNTRY, 
      PROVINCE, CITY, COUNTY, 
      OPEN_DATE, CHARACTERISTIC, DECORATION, 
      AREA, YEARS, GREEN_RATE, 
      PROPERTY_COMPANY, DELIVERY_TIME, AVG_PRICE, 
      COMMISSION, RECOMMENDED_NUMBER, RESERVATION_NUMBER, 
      VIEW_TIMES,subscription_rules,property_Tel,traffic_Facilities,house_Type)
    values (#{propertyId,jdbcType=VARCHAR}, #{propertyName,jdbcType=VARCHAR}, #{propertyType,jdbcType=CHAR}, 
      #{realEstateAgency,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, 
      #{openDate,jdbcType=TIMESTAMP}, #{characteristic,jdbcType=VARCHAR}, #{decoration,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{years,jdbcType=DECIMAL}, #{greenRate,jdbcType=DECIMAL}, 
      #{propertyCompany,jdbcType=VARCHAR}, #{deliveryTime,jdbcType=TIMESTAMP}, #{avgPrice,jdbcType=DECIMAL}, 
      #{commission,jdbcType=VARCHAR}, #{recommendedNumber,jdbcType=DECIMAL}, #{reservationNumber,jdbcType=DECIMAL}, 
      #{viewTimes,jdbcType=DECIMAL}, #{subscriptionRules,jdbcType=VARCHAR},#{propertyTel,jdbcType=VARCHAR},
      #{trafficFacilities,jdbcType=VARCHAR}, #{houseType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.yuan.nova.pis.entity.PisProperty" >
    insert into PIS_PROPERTY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="propertyId != null" >
        PROPERTY_ID,
      </if>
      <if test="propertyName != null" >
        PROPERTY_NAME,
      </if>
      <if test="propertyType != null" >
        PROPERTY_TYPE,
      </if>
      <if test="realEstateAgency != null" >
        REAL_ESTATE_AGENCY,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="country != null" >
        COUNTRY,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="county != null" >
        COUNTY,
      </if>
      <if test="openDate != null" >
        OPEN_DATE,
      </if>
      <if test="characteristic != null" >
        CHARACTERISTIC,
      </if>
      <if test="decoration != null" >
        DECORATION,
      </if>
      <if test="area != null" >
        AREA,
      </if>
      <if test="years != null" >
        YEARS,
      </if>
      <if test="greenRate != null" >
        GREEN_RATE,
      </if>
      <if test="propertyCompany != null" >
        PROPERTY_COMPANY,
      </if>
      <if test="deliveryTime != null" >
        DELIVERY_TIME,
      </if>
      <if test="avgPrice != null" >
        AVG_PRICE,
      </if>
      <if test="commission != null" >
        COMMISSION,
      </if>
      <if test="recommendedNumber != null" >
        RECOMMENDED_NUMBER,
      </if>
      <if test="reservationNumber != null" >
        RESERVATION_NUMBER,
      </if>
      <if test="viewTimes != null" >
        VIEW_TIMES,
      </if>
      <if test="subscriptionRules != null" >
        subscription_rules,
      </if>
      <if test="propertyTel != null" >
        property_Tel,
      </if>
      <if test="trafficFacilities != null" >
        traffic_Facilities,
      </if>
      <if test="houseType != null" >
        house_Type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="propertyId != null" >
        #{propertyId,jdbcType=VARCHAR},
      </if>
      <if test="propertyName != null" >
        #{propertyName,jdbcType=VARCHAR},
      </if>
      <if test="propertyType != null" >
        #{propertyType,jdbcType=CHAR},
      </if>
      <if test="realEstateAgency != null" >
        #{realEstateAgency,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="openDate != null" >
        #{openDate,jdbcType=TIMESTAMP},
      </if>
      <if test="characteristic != null" >
        #{characteristic,jdbcType=VARCHAR},
      </if>
      <if test="decoration != null" >
        #{decoration,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="years != null" >
        #{years,jdbcType=DECIMAL},
      </if>
      <if test="greenRate != null" >
        #{greenRate,jdbcType=DECIMAL},
      </if>
      <if test="propertyCompany != null" >
        #{propertyCompany,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="avgPrice != null" >
        #{avgPrice,jdbcType=DECIMAL},
      </if>
      <if test="commission != null" >
        #{commission,jdbcType=VARCHAR},
      </if>
      <if test="recommendedNumber != null" >
        #{recommendedNumber,jdbcType=DECIMAL},
      </if>
      <if test="reservationNumber != null" >
        #{reservationNumber,jdbcType=DECIMAL},
      </if>
      <if test="viewTimes != null" >
        #{viewTimes,jdbcType=DECIMAL},
      </if>
      <if test="subscriptionRules != null" >
        #{subscriptionRules,jdbcType=VARCHAR},
      </if>
      <if test="propertyTel != null" >
        #{propertyTel,jdbcType=VARCHAR},
      </if>
      <if test="trafficFacilities != null" >
        #{trafficFacilities,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null" >
        #{houseType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.yuan.nova.pis.entity.PisProperty" >
    update PIS_PROPERTY
    <set >
      <if test="propertyName != null" >
        PROPERTY_NAME = #{propertyName,jdbcType=VARCHAR},
      </if>
      <if test="propertyType != null" >
        PROPERTY_TYPE = #{propertyType,jdbcType=CHAR},
      </if>
      <if test="realEstateAgency != null" >
        REAL_ESTATE_AGENCY = #{realEstateAgency,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        COUNTY = #{county,jdbcType=VARCHAR},
      </if>
      <if test="openDate != null" >
        OPEN_DATE = #{openDate,jdbcType=TIMESTAMP},
      </if>
      <if test="characteristic != null" >
        CHARACTERISTIC = #{characteristic,jdbcType=VARCHAR},
      </if>
      <if test="decoration != null" >
        DECORATION = #{decoration,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        AREA = #{area,jdbcType=VARCHAR},
      </if>
      <if test="years != null" >
        YEARS = #{years,jdbcType=DECIMAL},
      </if>
      <if test="greenRate != null" >
        GREEN_RATE = #{greenRate,jdbcType=DECIMAL},
      </if>
      <if test="propertyCompany != null" >
        PROPERTY_COMPANY = #{propertyCompany,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        DELIVERY_TIME = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="avgPrice != null" >
        AVG_PRICE = #{avgPrice,jdbcType=DECIMAL},
      </if>
      <if test="commission != null" >
        COMMISSION = #{commission,jdbcType=VARCHAR},
      </if>
      <if test="recommendedNumber != null" >
        RECOMMENDED_NUMBER = #{recommendedNumber,jdbcType=DECIMAL},
      </if>
      <if test="reservationNumber != null" >
        RESERVATION_NUMBER = #{reservationNumber,jdbcType=DECIMAL},
      </if>
      <if test="viewTimes != null" >
        VIEW_TIMES = #{viewTimes,jdbcType=DECIMAL},
      </if>
      <if test="subscriptionRules != null" >
        subscription_Rules = #{subscriptionRules,jdbcType=VARCHAR},
      </if>
      <if test="propertyTel != null" >
        property_Tel = #{propertyTel,jdbcType=VARCHAR},
      </if>
      <if test="trafficFacilities != null" >
        traffic_Facilities = #{trafficFacilities,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null" >
        house_Type = #{houseType,jdbcType=VARCHAR},
      </if>
    </set>
    where PROPERTY_ID = #{propertyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.yuan.nova.pis.entity.PisProperty" >
    update PIS_PROPERTY
    set PROPERTY_NAME = #{propertyName,jdbcType=VARCHAR},
      PROPERTY_TYPE = #{propertyType,jdbcType=CHAR},
      REAL_ESTATE_AGENCY = #{realEstateAgency,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      COUNTY = #{county,jdbcType=VARCHAR},
      OPEN_DATE = #{openDate,jdbcType=TIMESTAMP},
      CHARACTERISTIC = #{characteristic,jdbcType=VARCHAR},
      DECORATION = #{decoration,jdbcType=VARCHAR},
      AREA = #{area,jdbcType=VARCHAR},
      YEARS = #{years,jdbcType=DECIMAL},
      GREEN_RATE = #{greenRate,jdbcType=DECIMAL},
      PROPERTY_COMPANY = #{propertyCompany,jdbcType=VARCHAR},
      DELIVERY_TIME = #{deliveryTime,jdbcType=TIMESTAMP},
      AVG_PRICE = #{avgPrice,jdbcType=DECIMAL},
      COMMISSION = #{commission,jdbcType=VARCHAR},
      RECOMMENDED_NUMBER = #{recommendedNumber,jdbcType=DECIMAL},
      RESERVATION_NUMBER = #{reservationNumber,jdbcType=DECIMAL},
      VIEW_TIMES = #{viewTimes,jdbcType=DECIMAL},
      subscription_rules = #{subscriptionRules,jdbcType=VARCHAR},
      property_Tel = #{propertyTel,jdbcType=VARCHAR},
      traffic_Facilities = #{trafficFacilities,jdbcType=VARCHAR},
      house_Type = #{houseType,jdbcType=VARCHAR}
    where PROPERTY_ID = #{propertyId,jdbcType=VARCHAR}
  </update>
</mapper>